{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="  text-black p-3">
                <h4 class=" mb-0">
                    <i class="fas fa-plus-circle me-2"></i>Log Site Visits
                </h4>
            </div>
            <div class="card">
                <div class="p-2" >
                    <!-- Mobile Verification Section -->
                    {% include 'components/mobile_verification.html' %}

                    <!-- Client Data Section -->
                    <div id="clientDataSection" style="display: none;">
                        <!-- Previous Visits -->
                        {% include 'components/previous_visits.html' %}

                        <!-- Multiple Site Visits Form -->
                        <form id="visitsForm">
                            <!-- Client Information -->
                            {% include 'components/client_info.html' %}

                            <!-- Property Requirements -->
                            {% include 'components/property_requirements.html' %}

                            <!-- Site Visits Section -->
                            {% include 'components/multiple_visits.html' %}

                            <!-- Form Actions -->
                            {% include 'components/form_actions.html' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include all scripts -->
{% include 'scripts/main_scripts.html' %}
{% endblock %}